@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(http://ginva.com/wp-content/uploads/2012/07/city-skyline-wallpapers-008.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 90px);
	left: calc(50% - 215px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.tsts img{
    width: 150px;
}

.login input[type=email]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.btn-login{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.header_header{
	display: flex;
	background-image: url(../images/headerbg.png);
	height: auto;

	align-items: center;
}

.img-header{
	width: 30%;
	margin-left: 5%;
}

nav ul{
	display: flex;
	list-style: none
}

.header-nav{
	flex: 1;
	margin-right: 350px;
}

.nav-header{
	margin-left: 20%;
}

nav ul a li{
	color: #FFFFFF;
	border: 1px solid #000000;
	padding: 10px;
	background-color: #d9534f;
	justify-content: center;
}

nav ul a li:hover{
	background-color: rgb(194, 17, 17);
}

nav ul a{
	text-decoration: none;
	margin-left: 20px;
}

nav ul a:hover{
	text-decoration: none;
}

.dropdown-item{
	width: 100%;
	margin-right: 40px;
}

.dropdown{
	margin-right: 40px;
}

.consulta_comandas{
	margin-left: 50%;
	transform: translateX(-30%);
}

.user-dropdown{
	color: #FFFFFF;
	border: 1px solid #000000;
	padding: 10px;
	background-color: #d9534f;
	text-decoration: none;
}

.user-dropdown:hover{
	color: #FFFFFF;
}

.jumbotronContainer{
	display: flex;
	justify-content: center;
}
.areaTabela{
width: 80%;
margin-top: 70px;
padding: 20px;
border-radius: 20px;
}

.cadastroUsuarioArea{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cadastroForm{
	width: 50%;
}

.div-botao-form{
	display: flex;
	justify-content: center;
}

.botao-form{
	background-color: #d9534f;
	color: #FFFFFF;
	margin-top: 30px;
	padding: 5px;
}

.botao-form:hover{
	background-color: rgb(194, 17, 17);
}

.alertErro{
	color: #f00;
}

.cadastroComandaArea{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}

.cadastroClienteArea{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}

.boxCadastrarCliente{
	width: 70%;
	padding-left: 40px;
}

.boxCadastrarComanda{
	width: 70%;
	padding-left: 40px;

}

.inline{
    display: inline-block;
}

.formWidth{
	width: 50% !important;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

 .hide{
	 display: none;
 }

 .divBotaoCadastro{
	 margin-top: 20px;
	 display: flex;
	 justify-content: center;
 }

 .textArea{
	 resize: none;
 }

 .botaoCadastrar{
	 margin-top: 10px;
	 display: flex;
	 justify-content: center;
 }

 .botaoVoltar{
	margin-top: 10px;
	display: flex;
	justify-content: center;
 }

 .historicoComandas{
	 resize: none;
 }

 .autocomplete{
    width: 100%;
	display: flex;
}

.autocompleteBtn{
    border: 1px solid #A5ACB2;
    width: 100%;
}

.modalClientes{
	display: none;
	background-color: #FFFFFF;
	width: 50%;
	z-index: 3;
	position: absolute;
	border: 1px solid black;
	padding: 0px 10px 10px 10px;
	border-radius: 5px;
}

.modalHeader{
	display: flex;
	justify-content: space-between;

}